<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light ">
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="Boards" href="#"
      ><svg-icon
        [applyCss]="true"
        src="assets/images/rectangle.svg"
        class="rectangles-icon"
      ></svg-icon>
      Boards</a
    ></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="Nello">.Nello</a>
      </li>

      <form class="form-inline waves-light" mdbWavesEffect>
        <div
          class="md-form my-0 d-flex align-items-center justify-content-lg-end"
        >
          <i class="fa fa-search" aria-hidden="true"></i>
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
          />
        </div>
      </form>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          <img src="assets/images/avatar.png" class="avatar-img" alt=""/>
          <span class="Hi">Hi, </span><span class="Khalid">Khalid</span>
          <span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a class="dropdown-item waves-light" mdbWavesEffect href="#"
            >Action</a
          >
          <a class="dropdown-item waves-light" mdbWavesEffect href="#"
            >Another action</a
          >
          <a class="dropdown-item waves-light" mdbWavesEffect href="#"
            >Something else here</a
          >
        </div>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
