$warm-grey: #999999;
$nello: #7148fc;
.rectangles-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.Boards {
  width: 51px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  color: $warm-grey;
}
.Nello {
  width: 72px;
  height: 32px;
  font-family: Roboto;
  font-size: 27px;
  font-weight: bold;
  color: $nello !important;
}
.avatar-img {
  width: 26px;
  height: 26px;
  margin-right: 3px;
  border-radius: 10px;
}
.Khalid {
  width: 76px;
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  color: #000000;
}
.Hi {
  font-weight: 900;
  font-style: italic;
  color: $nello;
}
