ul.avatars {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0px 7px 0px 0px;
}
li.avatars__item {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
}
$marginLeft: -11px;
li.avatars__item {
  &:nth-child(3) {
    z-index: 4;
    margin-left: $marginLeft;
  }
  &:nth-child(4) {
    z-index: 5;
    margin-left: $marginLeft;
  }
  &:nth-child(5) {
    z-index: 5;
    margin-left: $marginLeft;
  }
}

@mixin avatars-list {
  border-radius: 100px 100px 100px 100px;
  border: solid 1px #e8e8e8;
  height: 25px;
  line-height: 27px;
  text-align: center;
  width: 25px;
}
img.avatars__img {
  @include avatars-list;
}
span.avatars__initials {
  @include avatars-list;
  background: #f9f8fc;
  color: #a9a9a9;
  line-height: 26px;
  font-size: 19px;
  padding: 0 5px;
}

span.avatars__others {
  @include avatars-list;
  background-color: #f5a623;
  color: #ffffff;
  font-size: 12px;
  padding: 4px;
}

.card {
  height: 102px;
  border-radius: 6px !important;

  .card-body {
    height: 102px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    div {
      box-shadow: none !important;
    }
  }
}

.p5 a {
  width: 30px;
  height: 3px;
  padding: 0;
  margin: auto 1px;
  background-color: #7148fc;

  &:nth-child(2) {
    opacity: 0.6;
  }
  &:nth-child(3) {
    opacity: 0.3;
  }
}

ul {
  list-style: none;
  margin-top: inherit !important;
  margin-bottom: inherit !important;
}

.done{
  height: -webkit-fill-available;
display: flex;
justify-content: center;
align-items: center;
color:white;
font-size: 17px;
}