<ng-template [ngIf]="task.status == 'in Progress'">
        <mdb-card class="btn btn-block p-0 my-3 " (click)="editModal.show()">
                <mdb-card-body class="justify-content-between">
                  <span style="display: inline-grid;text-align: left;font-size: 12px;">
                    <strong> {{ task.taskName }} </strong>
                    <small class="text-muted">@ 3</small>
                  </span>
                  <div class="d-flex justify-content-between align-items-baseline">
                    <ul class="avatars">
                      <li class="avatars__item">
                        <span class="avatars__initials">+</span>
                      </li>
                      <li class="avatars__item">
                        <img src="assets/images/avatar.png" class="avatars__img" />
                      </li>
                      <li class="avatars__item">
                        <img src="assets/images/avatar.png" class="avatars__img" />
                      </li>
                      <li class="avatars__item">
                        <img src="assets/images/avatar.png" class="avatars__img" />
                      </li>
              
                      <li class="avatars__item">
                        <span class="avatars__others">+3</span>
                      </li>
                    </ul>
                    <ul class="pagination p5">
                      <a href="#"><li></li></a>
                      <a href="#"><li></li></a>
                      <a href="#"><li></li></a>
                    </ul>
                  </div>
                </mdb-card-body>
              </mdb-card>
              <div
                mdbModal
                class="modal fade"
                #editModal="mdbModal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Add Task To <em [ngStyle]="{ color: color }">{{ task.column }}</em>
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        (click)="editModal.hide()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form
                        class="text-center"
                        style="color: #757575;"
                        (ngSubmit)="onSubmit(editModal)"
                        #taskForm="ngForm"
                        [ngFormOptions]="{ updateOn: 'submit' }"
                      >
                        <!-- Email -->
                        <div class="md-form">
                          <input
                            type="text"
                            name="taskName"
                            class="form-control"
                            mdbInput
                            [(ngModel)]="task.taskName"
                            required
                          />
                          <label for="task.taskName">Task Name</label>
                          <div
                            class="alert alert-danger"
                            *ngIf="task.taskName.touched && task.taskName.errors.required"
                            role="alert"
                          >
                            <strong>Name is Required</strong>
                          </div>
                          <br/>
                          <div>
                            <select
                              class="browser-default custom-select"
                              name="column"
                              [(ngModel)]="task.column"
                            >
                              <option value="" disabled>Choose Column</option>
                              <option *ngFor="let column of columns" [ngValue]="column">{{
                                column
                              }}</option>
                            </select>
                          </div>
<br/>
                          <div>
                                <select
                                  class="browser-default custom-select"
                                  name="status"
                                  [(ngModel)]="task.status"
                                >
                                  <option value="" disabled>Choose Status</option>
                                  <option *ngFor="let status of statuses" [ngValue]="status">{{
                                    status
                                  }}</option>
                                </select>
                              </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="editModal.hide()"
                          >
                            Close
                          </button>
                          <button type="submit" class="btn btn-primary">
                            Save changes
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              

</ng-template >

<ng-template [ngIf]="task.status == 'done'">
        <mdb-card class="p-0 my-3 " >
<span [ngStyle]="{ background: color } " class="done">Done</span>
            
        </mdb-card>

</ng-template>