.body-cards {
  justify-content: center;
  .col-card {
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1.5rem 100px 1.5rem;
  }
  @media (min-width: 992px) {
    .col-lg-3 {
      -webkit-box-flex: 0;
      flex: 0 0 21%;
      max-width: 21%;
    }
  }
}

.nasaq-team {
  width: 284px;
  height: 86px;
  border-radius: 10px;
  background-color: #f0f0f0;
  margin: 1rem auto;
  display: flex;
}
.n-logo {
  color: white;
  width: 52px;
  height: 52px;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #7148fc;
}

.n-button {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  background-color: #7148fc;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 20;
}

.my-float {
  margin-top: 22px;
}
