<app-navbar></app-navbar>

<div class="btn-group nasaq-team" mdbDropdown>
  <button
    mdbDropdownToggle
    type="button"
    mdbBtn
    class="dropdown-toggle n-button"
  >
    <div class="n-logo">
      <span>N</span>
    </div>
    <span style="display: inline-grid;text-align: left;">
      <strong style="font-size: 21px;">Nasaq Team</strong>
      <small class="text-muted" style="font-size: 15px;">UI/UX Board</small>
    </span>
  </button>

  <div
    class="dropdown-menu dropdown-primary dropdown-menu-center"
    style="width: 18rem;"
  >
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row body-cards">
    <app-column
      class="col-card col-lg-3 col-md-6 col-12 p-4"
      name="Design Area"
      color="#7148fc"
    ></app-column>
    <app-column
      class="col-card col-lg-3 col-md-6 col-12 p-4"
      name="Frontend Area"
      color="#f5a623"
    ></app-column>
    <app-column
      class="col-card col-lg-3 col-md-6 col-12 p-4"
      name="Development Area"
      color="#4a90e2"
    ></app-column>
    <app-column
      class="col-card col-lg-3 col-md-6 col-12 p-4"
      name="Board Name"
      color="#04cda0"
    ></app-column>
  </div>
</div>

<a href="#" class="float" (click)="basicModal.show()">
        <i class="fa fa-plus my-float"></i>
        </a>

        <div
  mdbModal
  class="modal fade"
  #basicModal="mdbModal"
  aria-labelledby="myBasicModalLabel"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Add New Task
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="basicModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="text-center"
          style="color: #757575;"
          (ngSubmit)="onSubmit(taskForm,basicModal)"
          #taskForm="ngForm"
        >
          <!-- Email -->
          <div class="md-form">
            <input
              type="text"
              name="taskName"
              id="taskName"
              class="form-control"
              mdbInput
              ngModel
              required
            />
            <label for="taskName">Task Name</label>
            <div
              class="alert alert-danger"
              *ngIf="taskName.touched && taskName.errors.required"
              role="alert"
            >
              <strong>Name is Required</strong>
            </div>
            <br/>
              <select class="browser-default custom-select" name="column" required ngModel>
                <option value="" disabled>Choose Column</option>
                <option *ngFor="let column of columns" [ngValue]="column">{{
                  column
                }}</option>
              </select>
             
           
          </div>
          
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="basicModal.hide()"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!taskForm.valid"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
