<div>
  <span class="col-header" [ngStyle]="{ color: color }"> {{ name }} </span>

  <ng-container *ngFor="let task of tasks">
    <div *ngIf="task.column == name">
      <app-task-card [task]="task" [color]="color"  ></app-task-card>
    </div>
  </ng-container>
</div>
<div style="margin: 1rem -1.5rem -6rem -1.5rem;">
  <button
    type="button"
    name=""
    id=""
    (click)="basicModal.show()"
    class="btn btn-card btn-lg btn-block m-auto"
  >
    <span style="font-size: 14px;color: #d7d6d6;">Add Card</span>
  </button>
</div>

<div
  mdbModal
  class="modal fade"
  #basicModal="mdbModal"
  aria-labelledby="myBasicModalLabel"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Add Task To <em [ngStyle]="{ color: color }">{{ name }}</em>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="basicModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="text-center"
          style="color: #757575;"
          (ngSubmit)="onSubmit(taskForm,basicModal)"
          #taskForm="ngForm"
        >
          <!-- Email -->
          <div class="md-form">
            <input
              type="text"
              name="taskName"
              id="taskName"
              class="form-control"
              mdbInput
              ngModel
              required
            />
            <label for="taskName">Task Name</label>
            <div
              class="alert alert-danger"
              *ngIf="taskName.touched && taskName.errors.required"
              role="alert"
            >
              <strong>Name is Required</strong>
            </div>
            <br/>
            <div [class.d-none]="name">
              <select class="browser-default custom-select">
                <option value="" disabled>Choose Column</option>
                <option *ngFor="let column of columns" [ngValue]="name">{{
                  column
                }}</option>
              </select>
              
            </div>
           
          </div>
          
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="basicModal.hide()"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!taskForm.valid"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
