.col-header {
  font-size: 18px;
  font-weight: 500;
  &::before {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    font-weight: 100;
    font-size: 8px;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.btn-card {
  height: 60px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}
