$warm-grey: #999999;
$nello: #7148fc;
body {
  background: #f5f7fa;
  font-family: Roboto;
}

.navbar {
  padding: 1.5rem 1rem !important;
  background: white;
}

.navbar.navbar-light form .md-form .form-control {
  width: 25%;
  border-bottom: 0;
  opacity: 0.4;
}
button.dropdown-toggle.btn {
  box-shadow: none !important;
}
form.form-inline.waves-light {
  color: $warm-grey;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    width: 58%;
    justify-content: space-between;
  }
  .navbar.navbar-expand-lg links,
  .navbar.navbar-expand-lg navlinks {
    justify-content: flex-end;
  }
}
